html {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

.body-container {
  min-height: calc(100vh - 80px);
}

.footer-container {
  height: 50px;
  background-color: black;
  padding-top: 10px;
  color: white;
  bottom: 0;
  width: 100%;
  margin-top: 30px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

.button--green {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #3b8070;
  color: #3b8070;
  text-decoration: none;
  padding: 10px 30px;
}

.button--green:hover {
  color: #fff;
  background-color: #3b8070;
}

.button--grey {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #35495e;
  color: #35495e;
  text-decoration: none;
  padding: 10px 30px;
  margin-left: 15px;
}

.button--grey:hover {
  color: #fff;
  background-color: #35495e;
}

.title {
  font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  display: block;
  font-weight: 400;
  font-size: 3em;
  color: #00a1f9;
  letter-spacing: 1px;
  margin-top: 30px;
  margin-bottom: 40px;
}

.subtitle {
  font-weight: 400;
  font-size: 1em;
  font-style: italic;
  color: #139be6;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.title-section {
  font-weight: 300;
  font-size: 2em;
  font-style: italic;
  color: #139be6;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}

.header {
  background-image: url(/img/background.jpg);
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-size: cover;
  background-position: center; 
}

.header .navbar {
  background-color: rgba(0, 0, 0, 0.6);
}

.header .nav-link {
  color: #ddd!important;
  margin-left: 25px;
}

/* Next/Previous page link for excursions and extras */
.next-page-link,
.next-page-link:hover {
  color: inherit;
  text-decoration: none;
}

/* screan size adaptations */

/* Extra small devices (portrait phones, less than 576px) */
@media only screen and (max-width: 575px)  {
  /* about page */
  .xs-sm-margin {
    margin-bottom: 60px;
  }

  /* excursion detail page */
  .map-situation {
    margin-top: 40px;
  }
  .map-situation img {
    width: 100%;
  }

  .info-card {
    margin-right: 2px;
    margin-left: 2px;
  }

  .excursion-path-map img {
    width: 250% !important;
  }

  /* extra detaul page */
  .extra-navigation-btn-back {
    display: none;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* home page */
  .excursions-card-list .card-columns {
    column-count: 2;
  }
  
  /* about page */
  .xs-sm-margin {
    margin-bottom: 60px;
  }

  /* excursion detail page */
  .map-situation {
    margin-top: 40px;
  }

  /* extra detaul page */
  .extra-navigation-btn-back {
    display: none;
  }
} 

/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* excursion detail page */
  .map-situation img {
    width: 90%;
  }
}

/* Large devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
